*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background:white;
    padding: 50px;
    color:black;

}

.container{
    height: 550px;
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding: 25px 30px;
    border-radius: 5px;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}
::placeholder{
    text-align: center;
}

/* button{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 100px;
} */

.nameBtn{

    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #500938;
    margin-top: 100px;
    color: #e7e9f3;


}

.secondbtn{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #500938;
    margin-top: 50px;
    color: #e7e9f3;


}
.nameBtn:hover{
    cursor: pointer;
    background-color: #978492;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
}

.secondbtn:hover{
    cursor: pointer;
    background-color: #978492;
    color: black;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
}

.nextBtn{

    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #500938;
    margin-top: 100px;
    color: #e7e9f3;

}

.nextBtn:hover{
    cursor: pointer;
    background-color: #978492;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
}

.points{
    /* background-color: #4BC3B5; */
    height: 50px;
    /* width: 110px; */
    /* box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite; */
}

.name{
    padding: 10px 30px;
    background-color:#f5eff3;
    margin-top: 10px;
}

p{
    margin-top: 30px;
    font-family: fantasy;
}

img{
    padding-top: 20px;
    border-radius: 30px;
    height: 150px;
    width: 140px;
}

 .container::after{
    /* content: ""; */
    position: absolute;
    left: 3.5%;
    top: 3.5%;
    background: white;
    background-size: 400%;
    width: 93%;
    height: 93%;
    /* z-index: -1;
    animation: animate 20s linear infinite; */
} 

    /* @keyframes animate {
        0%{
            background-position: 0 0;
        
    }
    50%{
        background-position: 400% 0;

    }
    100%{
        background-position: 0 0;

    }
} */


/* 3D effect */
.container{
    filter: blur(0.4px);
    box-shadow:

    /* bottom */
    0px 20px 20px rgba(129, 28, 104, 0.2),
    0px 5px 10px rgba(0,0,0,0.2),

    /* long bottom */
    0px 70px 50px rgba(0,0,0,0.4),
    

    /* right */
    30px 50px 50px rgba(129, 28, 104, 0.2),
   

    /* left  */
    -30px 50px 50px rgba(129, 28, 104, 0.2);
}
