*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background:#61baca;
    padding: 50px;
    color: #e7e9f3;

}

.container{
    height: 550px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    background: #205897;
    padding: 25px 30px;
    border-radius: 5px;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}
::placeholder{
    text-align: center;
}

/* button{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 100px;
} */

.nameBtn{

    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #1AA687;
    margin-top: 100px;
    color: #e7e9f3;


}

.secondbtn{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #1AA687;
    margin-top: 50px;
    color: #e7e9f3;


}
.nameBtn:hover{
    cursor: pointer;
    background-color: #978492;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
}

.secondbtn:hover{
    cursor: pointer;
    background-color: #978492;
    color: black;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
}

.nextBtn{

    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #1AA687;
    margin-top: 100px;
    color: #e7e9f3;

}

.nextBtn:hover{
    cursor: pointer;
    background-color: #978492;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
}

.points{
    background-color: #4BC3B5;
    height: 50px;
    /* width: 110px; */
    /* box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite; */
}

.name{
    padding: 10px 50px;
    background-color:#f5eff3;
    margin-top: 10px;
}

p{
    margin-top: 30px;
    font-family: fantasy;
}
